<nav class="navbar navbar-expand-lg navbar-admin">
  <a class="navbar-brand text-white">Ticket admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Felhasználók</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Partnerek</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Főoldal</a>
      </li>
    </ul>
    <span class="navbar-nav nav-item">
      <label class="navbar-text font-weight-bold text-white">{{authenticationService.currentUser.username}}</label>
      <label #labelTimeOut class="ml-1 navbar-text font-weight-bold text-white">{{timeToTimeout}}</label>
      <a class="ml-1 nav-link" (click)="logout()">Logout</a>
    </span>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
