/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-admin {
    background-color: darkred;
}

.navbar-admin a {
    color: #ccc!important;
}

.navbar-admin .navbar-brand {
    color: #fff!important;
}

.button-group-2 {
    width: 13.5rem;
    margin: 1rem auto 0 auto;
}

.button-group-2 .btn {
    width: 6.25rem;
}

.button-group-2 .btn:nth-child(2) {
    margin-left: 1rem;
}
